body {
    margin: 0;
    padding:0;
    background: url("../BILDER/Unknown.jpeg") no-repeat;
    background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;

}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}


.box h2,h3,h4,h5,h6 {
    text-align: justify;
    font-size: 15px;
    letter-spacing: 2px;
}

h10 {
    text-align: justify;
    font-size: 15px;
    letter-spacing: 2px;
}


nav {
    height: 50px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-family: "Open sans",Helvetica, Arial, sans-serif;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

nav a:hover {
    color: white;
    border-bottom: 4px solid white;
}